<div class="card-product col-md-9 col-sm-12">
  <img src="https://images.unsplash.com/photo-1423742774270-6884aac775fa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW9uYSUyMGxpc2F8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
  <div class="card-product-infos">
    <div>
      <h2>Product name</h2>
      <p><em>Artist Name</em></p>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
    <div class="card-product-align-right">
      <h2 class="card-product-pricing">19.99€ / day</h2>
      <p>Owner Lastname</p>
    </div>
  </div>
</div>
