<div class="footer">
  <div class="footer-links">
    <p class="link-title">SUPPORT</p>
    <a href="#"><p>Contact Us</p></a>
    <a href="#"><p>FAQ</p></a>
  </div>
  <div class="footer-links">
    <p class="link-title">CORPORATE</p>
    <a href="#"><p>Press</p></a>
    <a href="#"><p>Privacy Policy</p></a>
    <a href="#"><p>Corporate Governance</p></a>
    <a href="#"><p>Careers</p></a>
  </div>
  <div class="footer-links">
    <p class="link-title">MORE...</p>
    <a href="#"><p>Security</p></a>
    <a href="#"><p>Terms & Conditions</p></a>
    <a href="#"><p>Modern Data Statement</p></a>
    <a href="#"><p>Do Not Sell My Personal Information</p></a>
  </div>
</div>
<div class="footer-foot-cap">
  <p>(C) 2021 ArtBnB</p>
</div>
