<div class="header-main">
  <div class="purple-square"></div>
  <div class="yellow-square"></div>
  <div class="green-circle"></div>
  <div class="header-text">
    <h1 id="header-header-text">ArtBnB</h1>
    <p id="subheader-text">share your art the easy way</p>
    <a href="#" class="btn-main">list your art</a>
  </div>
</div>
