.header-main {
  height: 300px;
  width: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.purple-square {
  background-color: #3E2F5B;
  height: 500px;
  width: 500px;
  transform: rotate(45deg);
  position: absolute;
  left: 0px;
}

.yellow-square {
  background-color: #E0CA3C;
  height: 800px;
  width: 400px;
  position: absolute;
  transform: rotate(30deg);
  top: -70px;
  left: -250px;
}

.green-circle {
  background-color: #566246;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 500px;
}

.header-text {
  margin-right: 80px;
}

#header-header-text {
  color: rbg(24, 24, 24)
}

#subheader-text {
  color: rbg(24, 24, 24)
}
